[*.cs]

# IDE0028: Collection initialization can be simplified
dotnet_style_collection_initializer = true:none

# IDE0059: Value assigned to variable is never used
csharp_style_unused_value_assignment_preference = discard_variable:none

# SA1101: Prefix local calls with this
dotnet_diagnostic.SA1101.severity = none

# SA1200: Using directives should be placed correctly
dotnet_diagnostic.SA1200.severity = none

# SA1309: Field names should not begin with underscore
dotnet_diagnostic.SA1309.severity = none

# SA1513: Closing brace should be followed by blank line
dotnet_diagnostic.SA1513.severity = none

# SA1108: Block statements should not contain embedded comments
dotnet_diagnostic.SA1108.severity = none
