name: Publish GitHub registry

on:
  push:
    branches: [ master ]

permissions:
  contents: read
  packages: write

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      
    - name: Setup .NET environment
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Setup VSTest Path
      uses: darenm/Setup-VSTest@v1
      
    - name: Restore packages
      run: dotnet restore WaterTrans.GlyphLoader.sln
      working-directory: src

    - name: Build with dotnet
      run: dotnet build --configuration Release
      working-directory: src
    
    - name: Run Test
      run: vstest.console.exe /Platform:x64 "WaterTrans.GlyphLoader.Tests\bin\Release\net8.0-windows\WaterTrans.GlyphLoader.Tests.dll"
      working-directory: src

    - name: Prepare artifact
      run: mkdir package
      
    - name: Copy package
      run: copy src\WaterTrans.GlyphLoader\bin\Release\WaterTrans.GlyphLoader.*.nupkg package
      
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: package
        path: package
      
    - name: Push generated package to GitHub registry
      run: dotnet nuget push WaterTrans.GlyphLoader\bin\Release\WaterTrans.GlyphLoader.*.nupkg `
           --api-key $env:NUGET_AUTH_TOKEN `
           --source https://nuget.pkg.github.com/watertrans/index.json `
           --skip-duplicate `
           --force-english-output
      working-directory: src
      env:
        NUGET_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
