name: Run Test

on:
  push:
    branches: [ develop ]
  pull_request:
    branches: [ develop ]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4
      
    - name: Setup .NET environment
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Setup VSTest Path
      uses: darenm/Setup-VSTest@v1
      
    - name: Restore packages
      run: dotnet restore WaterTrans.GlyphLoader.sln
      working-directory: src

    - name: Build with dotnet
      run: dotnet build --configuration Release
      working-directory: src
    
    - name: Run Test
      run: vstest.console.exe /Platform:x64 "WaterTrans.GlyphLoader.Tests\bin\Release\WaterTrans.GlyphLoader.Tests.dll"
      working-directory: src

    - name: Prepare artifact
      run: mkdir package
      
    - name: Copy package
      run: copy src\WaterTrans.GlyphLoader\bin\Release\WaterTrans.GlyphLoader.*.nupkg package
      
    - name: Upload artifact
      uses: actions/upload-artifact@v4
      with:
        name: package
        path: package
